/*@font-face {
  font-family: "ServoMono";
  src: url("./ServoMono.woff") format('woff');
}*/

/*@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');*/

:root {

  --dark-color: #19120b;
  --light-color: #c1bf9f;
  --bg-color: var(--dark-color);
  --primary-color: var(--light-color);
  /*--primary-color: #19120b;*/
  /*--bg-color: #c1bf9f;*/
}
* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: var(--primary-color);
  /*font-size: 0.97em;*/

  scrollbar-color: darkgray black;

  scrollbar-color: color-mix(in srgb, var(--bg-color) 93%, var(--primary-color)) var(--bg-color);
  scrollbar-width: thin;
}

body {
  background: var(--bg-color);
  transition: 0.7s;
  animation: FadeIn 0.5s linear;
  overflow: hidden;

}

header {
  padding: 0.5em 1em;
  height: 1.2em;
}

header {
  border-bottom: 1px solid;
}

aside {
  padding: 1em
}

aside button {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  animation: FadeIn 0.5s linear;

}

button {
  padding: 0.25em 0.5em;
  cursor: pointer;
  background: color-mix(in srgb, var(--bg-color) 93%, var(--primary-color));
  border: 1px solid;
  border-radius: 2px;
  border-color: color-mix(in srgb, var(--primary-color) 55%, var(--bg-color));
  /*box-shadow: 0 0 0.1em var(--primary-color);*/
}
button:hover {
  background: color-mix(in srgb, var(--bg-color) 75%, var(--primary-color));
}

button:active {
  background: color-mix(in srgb, var(--bg-color) 96%, var(--primary-color));
  box-shadow: 0 0 0;
}

h3 {
  margin: 0.1em 0;
}

p {
  margin: 0.75em 0;
}

#mainConsole {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#mainConsolePrimary {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#mainConsolePrimary > * {
  flex: 1;

}
#mainConsolePrimary aside {
  max-width: 40vw;
  /*min-width: 250px;*/

}

#mainConsoleContent {
  padding: 1em;
  overflow: scroll;
  border-right: 1px solid;
}
#mainConsoleContent > * {
  opacity: 0.85;
}

#mainConsoleContent > *:first-child{
  opacity: 1;
}


p.preVisible {
  animation: Intro 0.5s linear;
}

.letterText {
  font-family: serif;
}

.smoothScroll {
  scroll-behavior: smooth;
}

@keyframes Intro {
  0% {
    max-height: 0px;
    opacity: 0;
  }

  100% {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  #mainConsolePrimary {
    flex-direction: column;
  }

  #mainConsoleContent {
    border-right: 0;
    border-bottom: 1px solid;
  }

  #mainConsolePrimary aside {
    max-width: 70vh;
  }

}

::selection {
  background: var(--primary-color);
  color: var(--bg-color);
}

* {
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}