
:root {
  --dark-color: #19120b;
  --light-color: #c1bf9f;
  --bg-color: var(--dark-color);
  --primary-color: var(--light-color);
}

* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: var(--primary-color);
  scrollbar-color: darkgray black;
  scrollbar-color: color-mix(in srgb, var(--bg-color) 93%, var(--primary-color)) var(--bg-color);
  scrollbar-width: thin;
}

body {
  background: var(--bg-color);
  transition: 0.7s;
  animation: FadeIn 0.5s linear;
  font-optical-sizing: auto;
  line-height: 1.2;
  font-size: 0.97em;


}

main {
  overflow: hidden;
}

header {
  padding: 0.5em 1em;
  height: 1.2em;
}

header {
  border-bottom: 1px solid;
}

aside {
  padding: 1em
}

aside button {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  animation: FadeIn 0.5s linear;

}

button {
  padding: 0.25em 0.5em;
  cursor: pointer;
  background: color-mix(in srgb, var(--bg-color) 93%, var(--primary-color));
  border: 1px solid;
  border-radius: 2px;
  border-color: color-mix(in srgb, var(--primary-color) 55%, var(--bg-color));
  user-select: none;
  -webkit-user-select: none;
  /*box-shadow: 0 0 0.1em var(--primary-color);*/
}
button:hover {
  background: color-mix(in srgb, var(--bg-color) 75%, var(--primary-color));
}

button:active {
  background: color-mix(in srgb, var(--bg-color) 96%, var(--primary-color));
  box-shadow: 0 0 0;
}

aside textarea {
  background: color-mix(in srgb, var(--bg-color) 75%, var(--primary-color));
  border: 1px solid var(--primary-color);
  width: calc(100% - 1em);
  height: 25vh;
  padding: 0.5em;
  /*resize: none;*/
}
aside textarea:active, aside textarea:focus {
  outline: 0
}

h3 {
  margin: 0.1em 0;
}

p {
  margin: 0.75em 0;
  font-size: 1.1em;
}

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
}

.invisible {
  opacity: 0 !important;
}

.icon {
  display: inline-block;
  transform: scale(1.7)
}

#mainConsole {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#mainConsole {
  font-size: 1.15em;
}

#mainConsole button {
  font-size: 1.1em;
}

#mainConsolePrimary {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#mainConsolePrimary > * {
  flex: 1;

}
#mainConsolePrimary aside {
  max-width: 36vw;
  min-width: 290px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mainConsoleContent {
  padding: 1em;
  overflow: scroll;
  border-right: 1px solid;
}
#mainConsoleContent > * {
  opacity: 0.8;
}

#mainConsoleContent > *:first-child{
  opacity: 1;
}

#sleepModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  box-sizing: border-box;

  background: #000;
  opacity: 0.9;
  transition: 500ms;
}

#notepadActions {
  text-align: right;
}

#notepadActions button {
  margin: 0;
  margin-bottom: 0.1em;
}



#intro, #wakeUpAgain {
  z-index: 1;
  position: relative;
}


p.preVisible {
  animation: Intro 0.5s linear;
}

.letterText, .letterText em {
  font-family: serif;
  color: #000;
}


.smoothScroll {
  scroll-behavior: smooth;
}

@keyframes Intro {
  0% {
    max-height: 0px;
    opacity: 0;
  }

  100% {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 975px) {
  #notepadActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #notepadActions button {
    margin-top: 0.25em;
  }
}


@media (max-width: 650px) {
  #mainConsolePrimary {
    flex-direction: column;
  }

  #mainConsoleContent {
    border-right: 0;
    border-bottom: 1px solid;
  }

  #mainConsolePrimary aside {
    max-width: 530px;
  }

  #sleepModal {
    padding: 2em;
    justify-content: center;
    align-items: flex-start;
  }

  #notepadActions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #notepadActions button {
    margin-left: 0.5em;
  }

  #eNotepadTextArea {
    height: 15vh;
  }

}

@media (max-height: 500px) {
  #sleepModal {
    justify-content: flex-end;
  }
}


@media (max-width: 470px) {
  #notepadActions {
    padding-top: 0.5em;
  }
}

@media (max-width: 400px) {
  header {
    font-size: 0.85em;
    padding: 0.5em
  }

  #sleepModal {
    padding: 2em;
  }
}

@media (max-width: 380px) {
  #notepadActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}


::selection {
  background: var(--primary-color);
  color: var(--bg-color);
}

* {
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}